<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555330865633-g9sehlnhijf01d6bmuvjp8fhk5hfr00k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555330865633-g9sehlnhijf01d6bmuvjp8fhk5hfr00k</string>
	<key>API_KEY</key>
	<string>AIzaSyDCqBpPJEGeRyq2-l57y1WQjCZW7DTAFYg</string>
	<key>GCM_SENDER_ID</key>
	<string>555330865633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snulifeInternal</string>
	<key>PROJECT_ID</key>
	<string>snulife-internal</string>
	<key>STORAGE_BUCKET</key>
	<string>snulife-internal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555330865633:ios:3040f03e7bc490bf83aaa0</string>
</dict>
</plist>